body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 1.5rem;
}
nav {
  display: flex;
  justify-content: space-around;
}
nav a {
  padding: 0.5 rem;
}
nav a.selected {
  background-color: dodgerblue;
  color: cornsilk;
}
h1 {
  display: flex;
  justify-content: space-around;
}
form {
  display: flex;
  flex-direction: column;
}

input,
button {
  height: 3rem;
}

form > * {
  margin: 1rem;
}
